.container {
	display: flex;
	width: 100%;
	height: 100%;
}

.sidebar {
	flex: 20%; /* Сайдбар занимает 20% ширины контейнера */
	height: 100%;
	width: 100%;
}

.children {
	flex: 80%; /* Дети занимают оставшиеся 80% ширины контейнера */
}
