.error {
	color: #8d2b3d;
	font-size: 0.8rem;
	margin-top: 0.2rem;
}

/* Стили для инпутов */
.input {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #ccc; /* Граница инпута */
	border-radius: 5px; /* Закругление углов */
	font-size: 1rem;
	outline: none; /* Убираем контур фокуса */
	transition: border-color 0.3s;
}

/* Стили для активных инпутов */
.input:focus {
	border-color: #3498db; /* Цвет границы при фокусе */
}
